In [1]:
import os
import requests

import numpy as np
import pandas as pd

**Run this shell below to donwload the dataset**

In [5]:
os.makedirs("files",exist_ok=True)
url="https://storage.googleapis.com/kagglesdsdata/datasets/273797/567086/customer_churn.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230921%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230921T071310Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=369ae52671e34740b13d3e6f01b923d791250955f584a3eb1c436c290818f2e6358f0e2f611cf9fa5b431a01e26c0c66f5497d0bfa9c2a7919989a0ea4f5aeb5ff72376ea0b080852717c2fd0ba1b0ac48d7028e528cb5de8678695da1e7cd0aa632960158f198dd290b5a4f26411bd7f19ceb4c1fc54fd2c461992b7963a1d2707990e8edd16c77cd3df0897c2263fdafbe599060166cd6a8cbd8af71adae903474fc5b94d1e4a9ec2b55461043f41a10990afa66583d00865eccfc6f204f209f4aa659bb0a5e6b745eb784d794c503d6dbd34ae0cd271e633abdab328d86d0cf54e47be38164779241343a8ed3bbdf8e0a1b44fd8d8e218766876b6b91a197"

chunk_size = 1024  # Adjust this to your preferred chunk size

response = requests.get(url, stream=True)
with open("files/customer_churn.csv", "wb") as file:
    for chunk in response.iter_content(chunk_size=chunk_size):
        if chunk:
            file.write(chunk)

# Reading and Reviewing the dataset

In [6]:
data=pd.read_csv("files/customer_churn.csv")
data.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1